body
{
   background-color: #262A2D;
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #FA7E00;
   text-decoration: underline;
}
a:active
{
   color: #CC6600;
}
a:hover
{
   color: #E67300;
   text-decoration: underline;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_Intro, #wb_Download
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_Intro, #wb_Download
   {
      background-attachment: scroll !important;
   }
}
.wb-theme-header
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #262A2D;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #FFFFFF;
   --border-width: 1px;
   --color: #FFFFFF;
   --icon-color: #FFFFFF;
   --colorize: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #262A2D;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(44,48,51,1.00);
   --border-color: #2C3033;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(31,35,38,1.00);
   --border-color: #1F2326;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-widget-header
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #262A2D;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-widget-content
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #FFFFFF;
   --border-width: 1px;
   --color: #FFFFFF;
   --icon-color: #FFFFFF;
   --colorize: invert(100%) sepia(96%) saturate(15%) hue-rotate(228deg) brightness(103%) contrast(100%);
}
.ui-state-default
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(38,42,45,1.00);
   --border-color: #262A2D;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(44,48,51,1.00);
   --border-color: #2C3033;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-default.active, .ui-state-active, .active > .ui-state-default
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(31,35,38,1.00);
   --border-color: #1F2326;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_NavbarDesktop
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #262A2D;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
}
#NavbarDesktop
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#NavbarDesktop > .col-1, #NavbarDesktop > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#NavbarDesktop > .col-1, #NavbarDesktop > .col-2
{
   flex: 0 0 auto;
}
#NavbarDesktop > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#NavbarDesktop > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#NavbarDesktop > .col-1, #NavbarDesktop > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_NavbarMenu
{
   margin: 0 12px 0 0 ;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_NavbarMenu::after
{
   content: "";
   display: table;
clear: both;
}
#wb_NavbarMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
   position: relative;
   display: inline-block;
}
#wb_NavbarMenu li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 4px;
}
#wb_NavbarMenu a
{
   display: block;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_NavbarMenu > ul > li > a
{
   height: 58px;
   line-height: 58px;
   padding: 0px 16px 0px 16px;
}
#wb_NavbarMenu li:hover a, #wb_NavbarMenu a:hover
{
}
#wb_NavbarMenu li.firstmain
{
   padding-left: 0px;
}
#wb_NavbarMenu li.lastmain
{
   padding-right: 0px;
}
#wb_NavbarMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Logo
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 0 32px;
   padding: 0;
   text-align: left;
}
#Logo
{
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Logo a
{
   color: inherit;
   text-decoration: none;
}
#Logo
{
   height: 100%;
   margin: 0;
   width: 100%;
}
#wb_Intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('images/Intro.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#Intro
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#Intro > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#Intro > .col-1
{
   flex: 0 0 auto;
}
#Intro > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#Intro > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Intro-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #000000;
   opacity: 0.49;
}
#wb_IntroHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 15px 0;
   text-align: center;
}
#IntroHeading
{
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_IntroSubheading 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 30px 0 ;
   text-align: center;
}
#wb_IntroSubheading
{
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: 400;
   font-size: 24px;
   line-height: 35px;
}
#wb_IntroSubheading p, #wb_IntroSubheading ul
{
   margin: 0;
   padding: 0;
}
#wb_IntroSubheading
{
   display: block;
   margin: 0 0 30px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#IntroDownload
{
   font-family: Quicksand;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_IntroDownload
{
   border-radius: 100px;
   margin: 8px 8px 30px 8px;
   vertical-align: top;
}
#IntroDownload
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_IntroDownload .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#IntroDownload
{
   color: inherit;
}
#wb_IntroDownload .ui-corner-all, #wb_IntroDownload .ui-corner-left
{
   border-bottom-left-radius: 100px;
   border-top-left-radius: 100px;
}
#wb_IntroDownload .ui-corner-all, #wb_IntroDownload .ui-corner-right
{
   border-bottom-right-radius: 100px;
   border-top-right-radius: 100px;
}
#wb_IntroDownload .ui-button
{
   background-color: #FA7E00;
   background-image: none;
   border: 0px solid #FA7E00;
   color: #FFFFFF;
}
#wb_IntroDownload .ui-state-hover, #wb_IntroDownload .ui-button:hover
{
   border-color: #E67300;
   background-color: #E67300;
   background-image: none;
   color: #FFFFFF;
}
#wb_IntroDownload .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_IntroDownload .ui-state-active, #wb_IntroDownload .ui-button:active
{
   border-color: #E67300;
   background-color: #E67300;
   background-image: none;
   color: #FFFFFF;
}
#wb_features1LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#features1LayoutGrid
{
   box-sizing: border-box;
   padding: 100px 0 0 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#features1LayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#features1LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#features1LayoutGrid > .row > .col-1
{
   float: left;
}
#features1LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#features1LayoutGrid:before,
#features1LayoutGrid:after,
#features1LayoutGrid .row:before,
#features1LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#features1LayoutGrid:after,
#features1LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#features1LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_features1Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 50px 0 ;
   padding: 0;
   text-align: center;
}
#features1Heading
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_features1CardContainer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#features1CardContainer
{
   display: flex;
   position: relative;
   padding: 0 0 70px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#features1CardContainer
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_features1Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card1-card-body
{
   padding: 0 15px 0 15px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card1-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card1-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card1-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_features1Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card2-card-body
{
   padding: 0 15px 0 15px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card2-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card2-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card2-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_features1Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card3-card-body
{
   padding: 0 15px 0 15px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card3-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card3-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card3-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_intro10LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #262A2D;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#intro10LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#intro10LayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#intro10LayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#intro10LayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#intro10LayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Download
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #262A2D;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#Download-card-body
{
   padding: 64px 64px 64px 64px;
   flex: 1 1 auto;
   font-size: 0;
}
#Download-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
}
#Download-card-item1
{
   box-sizing: border-box;
   margin: 20px 0 40px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#Download-card-item2
{
   display: inline-block;
   height: 70px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #FA7E00;
   border-radius: 100px;
   background-color: #FA7E00;
   background-image: none;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
}
#Download-card-item2 a
{
   color: inherit;
   display: block;
   padding: 25px 25px 25px 25px;
   text-decoration: none;
}
#Download-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 40px 0 ;
   padding: 0;
   color: #808080;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#wb_list13LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#list13LayoutGrid
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#list13LayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#list13LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#list13LayoutGrid > .row > .col-1
{
   float: left;
}
#list13LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#list13LayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 100px 0 100px 0;
}
#list13LayoutGrid:before,
#list13LayoutGrid:after,
#list13LayoutGrid .row:before,
#list13LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#list13LayoutGrid:after,
#list13LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#list13LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_list13Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 30px 0 ;
   padding: 0;
   text-align: center;
}
#list13Heading
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#list13Accordion
{
   width: 100%;
   height: 100%;
}
#wb_list13Accordion .ui-helper-reset
{
   line-height: normal !important;
}
#list13Accordion .ui-accordion-header
{
   font-family: Quicksand;
   font-weight: bold;
   font-size: 19px !important;
   font-style: normal;
   outline: none;
   padding: 25px 30px 25px 30px;
   text-align: left;
}
#list13Accordion .ui-accordion-header:not(:first-child)
{
   margin-top: -1px;
}
#list13Accordion h4
{
   display: block;
   margin: 0;
}
#list13Accordion .ui-accordion-header .ui-icon
{
   position: absolute !important;
   right: 25px;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 100%;
   width: 16px;
   box-sizing: border-box;
   background-image: none;
   fill: currentColor;
   margin: 0;
}
#list13Accordion .icon-default
{
   display: block;
   flex: 1;
   padding: 2px;
}
#list13Accordion .icon-active
{
   display: none;
   flex: 1;
   padding: 2px;
}
#list13Accordion .ui-state-active .icon-default
{
   display: none;
}
#list13Accordion .ui-state-active .icon-active
{
   display: block;
}
#list13Accordion .ui-accordion-content
{
   padding: 30px 30px 30px 30px;
   position: relative;
   font-size: 0;
   text-align: left;
}
#list13Accordion, #list13Accordion > .ui-corner-all, #list13Accordion > .ui-corner-top
{
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
#list13Accordion .ui-corner-all, #list13Accordion .ui-corner-bottom
{
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}
#list13Accordion .ui-widget-content
{
   border-color: rgba(38,42,45,1.00);
   border-width: 0px;
   background-color: #262A2D;
   background-image: none;
   color: transparent;
}
#list13Accordion .ui-state-default
{
   border-color: rgba(38,42,45,1.00);
   border-width: 0px;
   background-color: #262A2D;
   background-image: none;
   color: #FFFFFF;
}
#list13Accordion .ui-state-hover
{
   border-color: rgba(38,42,45,1.00);
   border-width: 0px;
   background-color: #262A2D;
   background-image: none;
   color: #FA7E00;
}
#list13Accordion .ui-state-active
{
   border-color: rgba(250,126,0,1.00);
   border-width: 0px;
   background-color: #FA7E00;
   background-image: none;
   color: #FFFFFF;
}
#wb_list13Accordion
{
   margin: 0;
}
#wb_list13Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list13Text2 div
{
   text-align: left;
}
#wb_list13Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list13Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list13Text4 div
{
   text-align: left;
}
#wb_list13Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list13Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_list13Text1 div
{
   text-align: left;
}
#wb_list13Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_list5LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#list5LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#list5LayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#list5LayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#list5LayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#list5LayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_list5Heading
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 15px 30px 15px;
   padding: 0;
   text-align: left;
}
#list5Heading
{
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#list5Heading
{
   height: 100%;
   margin: 0;
   width: 100%;
}
#list5Table
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#list5Table td, #list5Table th
{
   padding: 15px 15px 15px 15px;
}
#list5Table td div
{
   white-space: nowrap;
}
#list5Table p, #list5Table ul
{
   margin: 0;
   padding: 0;
}
#list5Table .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #F8F9FA;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell3
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell4
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell5
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell6
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell7
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell8
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell9
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell10
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell11
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell12
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell13
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell14
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell15
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell16
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#list5Table .cell17
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #FFFFFF;
   font-family: Quicksand;
   font-size: 19px;
   line-height: 27.5px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#IntroGithub
{
   font-family: Quicksand;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_IntroGithub
{
   border-radius: 100px;
   margin: 8px 8px 30px 8px;
   vertical-align: top;
}
#IntroGithub
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_IntroGithub .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#IntroGithub
{
   color: inherit;
}
#wb_IntroGithub .ui-corner-all, #wb_IntroGithub .ui-corner-left
{
   border-bottom-left-radius: 100px;
   border-top-left-radius: 100px;
}
#wb_IntroGithub .ui-corner-all, #wb_IntroGithub .ui-corner-right
{
   border-bottom-right-radius: 100px;
   border-top-right-radius: 100px;
}
#wb_IntroGithub .ui-button
{
   background-color: #FA7E00;
   background-image: none;
   border: 0px solid #FA7E00;
   color: #FFFFFF;
}
#wb_IntroGithub .ui-state-hover, #wb_IntroGithub .ui-button:hover
{
   border-color: #E67300;
   background-color: #E67300;
   background-image: none;
   color: #FFFFFF;
}
#wb_IntroGithub .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_IntroGithub .ui-state-active, #wb_IntroGithub .ui-button:active
{
   border-color: #E67300;
   background-color: #E67300;
   background-image: none;
   color: #FFFFFF;
}
#wb_NavbarMobile
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: #262A2D;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
}
#NavbarMobile
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#NavbarMobile > .col-1, #NavbarMobile > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#NavbarMobile > .col-1, #NavbarMobile > .col-2
{
   flex: 0 0 auto;
}
#NavbarMobile > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 91.66666667%;
   max-width: 91.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#NavbarMobile > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 420px)
{
#NavbarMobile > .col-1, #NavbarMobile > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Heading1
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 0 16px;
   padding: 0;
   text-align: left;
}
#Heading1
{
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Heading1 a
{
   color: inherit;
   text-decoration: none;
}
#Heading1
{
   height: 100%;
   margin: 0;
   width: 100%;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: right;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 86px 0 0 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover, #PanelMenu1_markup li .active
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #262A2D;
}
#PanelMenu1_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #FFFFFF;
   border: 1px solid #262A2D;
   background-color: #262A2D;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#wb_PanelMenu1 a
{
   color: #FFFFFF;
   border: 1px solid #262A2D;
   border-radius: 0px;
   background-color: #262A2D;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-align: right;
   text-transform: none;
}
#PanelMenu1_markup li a:hover, #PanelMenu1_markup li .active
{
   color: #FFFFFF;
   background-color: #2C3033;
   border: 1px solid #2C3033;
}
#PanelMenu1_markup li a .icon
{
   fill: currentColor;
   margin-left: 4px;
   height: 16px;
   width: 16px;
   vertical-align: middle;
}
#PanelMenu1_markup li a:hover .icon
{
   fill: currentColor;
}
#PanelMenu1 .button-icon
{
   fill: currentColor;
}
#PanelMenu1:hover .button-icon
{
   fill: currentColor;
}
#wb_PanelMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #2C3033;
   border: 1px solid #2C3033;
}
#PanelMenu1_panel
{
   background-color: #262A2D;
   overflow-y: auto;
}
#PanelMenu1 .line
{
   width: 16px;
   border-radius: 1px;
   height: 3px;
   background: #FFFFFF;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1 .line:first-child
{
   margin-top: 9px;
}
#PanelMenu1.open .lines
{
   transition: all 400ms ease;
   transition-delay: 0.6s;
   transform: rotate(45deg);
}
#PanelMenu1.open .line:nth-child(1), #PanelMenu1.open .line:nth-child(3)
{
   transition-delay: 0.3s;
}
#PanelMenu1.open .line:nth-child(1)
{
   transform: translateY(6px);
}
#PanelMenu1.open .line:nth-child(2)
{
   width: 0;
}
#PanelMenu1.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(90deg);
}
#PanelMenu1
{
   line-height: 35px;
   width: 100%;
   height: 35px;
   position: relative;
   z-index: 999;
}
#wb_PanelMenu1
{
   display: none;
   width: 100%;
   text-align: right;
   z-index: 46;
}
#wb_Download
{
   display: flex;
   width: 100%;
   z-index: 14;
}
#wb_features1Heading
{
   display: block;
   width: 100%;
   z-index: 9;
}
#wb_list13Accordion
{
   display: block;
   width: 100%;
   z-index: 29;
}
#wb_NavbarMenu
{
   display: block;
   width: calc(100% - 12px);
   z-index: 1;
}
#wb_IntroGithub
{
   display: inline-block;
   width: 169px;
   height: 70px;
   z-index: 5;
}
#wb_IntroHeading
{
   display: block;
   width: 100%;
   z-index: 2;
}
#IntroDownload
{
   width: 100%;
   height: 100%;
}
#wb_Logo
{
   display: block;
   width: calc(100% - 32px);
   z-index: 0;
}
#wb_list5Heading
{
   display: block;
   width: calc(100% - 30px);
   z-index: 43;
}
#wb_features1Card2
{
   display: flex;
   z-index: 7;
}
#wb_IntroDownload
{
   display: inline-block;
   width: 169px;
   height: 70px;
   z-index: 4;
}
#wb_features1Card3
{
   display: flex;
   z-index: 8;
}
#IntroGithub
{
   width: 100%;
   height: 100%;
}
#wb_Heading1
{
   display: block;
   width: calc(100% - 16px);
   z-index: 45;
}
#wb_features1Card1
{
   display: flex;
   z-index: 6;
}
#list5Table
{
   display: table;
   width: 100%;
   height: 706px;
   z-index: 44;
}
#wb_list13Heading
{
   display: block;
   width: 100%;
   z-index: 28;
}
@media only screen and (max-width: 1160px)
{
body
{
   background-color: #262A2D;
   background-image: none;
}
#wb_NavbarDesktop
{
   visibility: hidden;
   display: none;
}
#wb_NavbarDesktop
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#NavbarDesktop
{
   height: auto;
   padding: 10px 0 10px 0;
}
#NavbarDesktop > .col-1, #NavbarDesktop > .col-2
{
   padding-right: 0px;
   padding-left: 0px;
}
#NavbarDesktop > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#NavbarDesktop > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#wb_NavbarMenu
{
   visibility: visible;
   display: inline-block;
   margin: 0 12px 0 0 ;
   text-align: right;
}
#wb_NavbarMenu li
{
}
#wb_NavbarMenu a
{
   font-family: Quicksand;
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_NavbarMenu > ul > li > a
{
   height: 58px;
   line-height: 58px;
}
#wb_NavbarMenu li:hover a, #wb_NavbarMenu a:hover
{
}
#wb_NavbarMenu li
{
   padding: 0px 0px 0px 4px;
}
#wb_Logo
{
   width: calc(100% - 32px);
   visibility: visible;
   display: block;
   margin: 0 0 0 32px;
   padding: 0;
}
#wb_Intro
{
   visibility: visible;
   display: table;
}
#wb_Intro
{
   height: 100vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#Intro
{
   height: 100vh;
   padding: 100px 0 100px 0;
}
#Intro > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#Intro > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_IntroHeading
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 15px 0;
}
#wb_IntroSubheading
{
   visibility: visible;
   display: block;
}
#wb_IntroSubheading
{
   font-size: 24px;
   margin: 0 0 30px 0 ;
   padding: 0;
   text-align: center;
   line-height: 36px;
}
#wb_IntroDownload
{
   width: 169px;
   height: 70px;
   visibility: visible;
   display: inline-block;
   margin: 8px 8px 30px 8px;
}
#IntroDownload
{
   font-size: 20px;
}
#wb_IntroDownload .ui-button
{
   line-height: 70px;
   padding: 0;
}
#wb_features1LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_features1LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#features1LayoutGrid
{
   height: auto;
   padding: 100px 0 0 0;
}
#features1LayoutGrid .row
{
   margin-right: 0px;
   margin-left: 0px;
}
#features1LayoutGrid > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#features1LayoutGrid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_features1Heading
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0 0 50px 0 ;
   padding: 0;
}
#wb_features1CardContainer
{
   width: 100%;
   visibility: visible;
   display: block;
}
#features1CardContainer
{
   padding: 0 0 70px 0;
}
#wb_features1Card1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0 0 30px 0 ;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#features1Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card1-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card1-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card1-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_features1Card1
{
   text-align: center;
}
#wb_features1Card2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0 0 30px 0 ;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#features1Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card2-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card2-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card2-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_features1Card2
{
   text-align: center;
}
#wb_features1Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0 0 30px 0 ;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#features1Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#features1Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card3-card-item1 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#features1Card3-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 0 20px;
   padding: 0;
}
#features1Card3-card-item2 h1
{
   color: #000000;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#wb_features1Card3
{
   text-align: center;
}
#wb_intro10LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_intro10LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#intro10LayoutGrid
{
   height: auto;
   padding: 100px 0 100px 0;
}
#intro10LayoutGrid > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#intro10LayoutGrid > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#wb_Download
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Download-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
}
#Download-card-item1
{
   box-sizing: border-box;
   margin: 20px 0 40px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#Download-card-item2
{
   display: inline-block;
   height: 70px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #FA7E00;
   border-radius: 100px;
   background-color: #FA7E00;
   background-image: none;
   color: #FFFFFF;
   font-family: Quicksand;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
}
#Download-card-item2 a
{
   color: inherit;
   display: block;
   padding: 25px 25px 25px 25px;
   text-decoration: none;
}
#Download-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 40px 0 ;
   padding: 0;
   color: #808080;
   font-family: Quicksand;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#wb_Download
{
   text-align: left;
}
#wb_list13LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_list13LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#list13LayoutGrid
{
   height: auto;
   padding: 0;
}
#list13LayoutGrid .row
{
   margin-right: 0px;
   margin-left: 0px;
}
#list13LayoutGrid > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#list13LayoutGrid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#list13LayoutGrid > .row > .col-1 > .col-1-padding
{
   width: 100%;
   padding: 100px 0 100px 0;
}
#wb_list13Heading
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0 0 30px 0 ;
   padding: 0;
}
#wb_list13Accordion
{
   width: 100%;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#list13Accordion .ui-accordion-header
{
   font-size: 19px !important;
}
#wb_list13Text2
{
   visibility: visible;
   display: block;
}
#wb_list13Text2
{
   margin: 0;
   padding: 0;
}
#wb_list13Text4
{
   visibility: visible;
   display: block;
}
#wb_list13Text4
{
   margin: 0;
   padding: 0;
}
#wb_list13Text1
{
   visibility: visible;
   display: block;
}
#wb_list13Text1
{
   margin: 0;
   padding: 0;
}
#wb_list5LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_list5LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#list5LayoutGrid
{
   height: auto;
   padding: 100px 0 100px 0;
}
#list5LayoutGrid > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#list5LayoutGrid > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#wb_list5Heading
{
   width: calc(100% - 30px);
   visibility: visible;
   display: block;
   margin: 0 15px 30px 15px;
   padding: 0;
}
#list5Table
{
   visibility: visible;
   display: table;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   visibility: visible;
   display: block;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   visibility: visible;
   display: block;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   visibility: visible;
   display: block;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   visibility: visible;
   display: block;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_IntroGithub
{
   width: 169px;
   height: 70px;
   visibility: visible;
   display: inline-block;
   margin: 8px 8px 30px 8px;
}
#IntroGithub
{
   font-size: 20px;
}
#wb_IntroGithub .ui-button
{
   line-height: 70px;
   padding: 0;
}
#wb_NavbarMobile
{
   visibility: visible;
   display: table;
}
#wb_NavbarMobile
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#NavbarMobile
{
   height: auto;
   padding: 10px 0 10px 0;
}
#NavbarMobile > .col-1, #NavbarMobile > .col-2
{
   padding-right: 0px;
   padding-left: 0px;
}
#NavbarMobile > .col-1
{
   display: flex;
   flex-basis: 91.66666667%;
   max-width: 91.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#NavbarMobile > .col-2
{
   display: flex;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#wb_Heading1
{
   width: calc(100% - 32px);
   visibility: visible;
   display: block;
   margin: 0 0 0 32px;
   padding: 0;
}
#wb_PanelMenu1
{
   width: 85px;
   height: 58px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#PanelMenu1
{
   line-height: 58px;
   width: 85px;
   height: 58px;
}
#PanelMenu1 .line:first-child
{
   margin-top: 21px;
}
#PanelMenu1_markup li a
{
   color: #FFFFFF;
   border: 1px solid #262A2D;
   background-color: #262A2D;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#wb_PanelMenu1 a
{
   color: #FFFFFF;
   border: 1px solid #262A2D;
   border-radius: 0px;
   background-color: #262A2D;
   font-family: Quicksand;
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   text-align: right;
   text-transform: none;
}
#PanelMenu1_markup li a:hover, #PanelMenu1_markup li .active
{
   color: #FFFFFF;
   background-color: #2C3033;
   border: 1px solid #2C3033;
}
#PanelMenu1_markup li a .icon
{
   fill: currentColor;
   margin-left: 4px;
   height: 16px;
   width: 16px;
   vertical-align: middle;
}
#PanelMenu1_markup li a:hover .icon
{
   fill: currentColor;
}
#PanelMenu1 .button-icon
{
   fill: currentColor;
}
#PanelMenu1:hover .button-icon
{
   fill: currentColor;
}
#wb_PanelMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #2C3033;
   border: 1px solid #2C3033;
}
#PanelMenu1_panel
{
   background-color: #262A2D;
   overflow-y: auto;
}
}
@media (prefers-reduced-motion: reduce)
{
*
{
   transition-property: none !important;
   animation: none !important;
}
}
